# 해당 파일은 pnpm 패키지 매니저의 일관된 동작을 설정합니다.
# --- pnpm 실행시 해당 노드 버전 강제
use-node-version=22.11.0
# --- 내장 셸 에뮬레이터 활성화 (package.json 모든 운영체제 동일하게 동작 보장)
shell-emulator=true
# --- node modules 플랫한 호이스트 방식으로 생성. 구 모듈과 호환성 유지
node-link-hoisted=hoisted